body {
  font-family: sans-serif;
}
.card {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}
ul,
li {
  list-style-type: none;
}
.container {
  margin: 20px auto;
  max-width: 700px;
}
.city {
  font-size: 30px;
}
.descriptiom {
  text-transform: capitalize;
}
temperature {
  font-size: 50px;
}
